In [ ]:
#STRING BASED ASSIGNMENT PROBLEMS

In [1]:
#Program to reverse a string
string=input("enter the string")
rev_strg=string[::-1]
print("the reversed string is",rev_strg)

enter the string manmeet

the reversed string is teemnam

In [4]:
#program to check if string is palindrome or not
string=input("enter the string")
rev_strg=string[::-1]
if(string==rev_strg):
    print("it is palidrome")
else:
    print("it is not a palindrome")

enter the string naman

it is palidrome

In [3]:
#Convert a string to uppercase.
string=input("enter the stringin lowercase")
print("string in lower case is:",string)
print("the string in uppercase is:",string.upper())

enter the string manmeet

string in lower case is: manmeet
the string in uppercase is: MANMEET

In [4]:
#Convert a string to lowercase
string=input("enter the string in uppercase")
print("string in upper case is:",string)
print("the string in uppercase is:",string.lower())

enter the string in uppercase MANMEET

string in upper case is: MANMEET
the string in uppercase is: manmeet

In [6]:
#Count the number of vowels in a string
string=input("enter the string")
count=0
#creating the list  of vowels
vowels=["a","e","i","o","u"]
for i in range(len(string)):
    if string[i] in vowels:
        count+=1
        
print("number of vowels in the sentence are",count)

enter the string my name is manmeet

number of vowels in the sentence are 6

In [8]:
#Count the number of consonants in a string
string=input("enter the string")
count=0
vowels=["a","e","i","o","u"]
for i in range(len(string)):
    if string[i] not in vowels:
        count+=1
print("number of consonants in the sentence are",count)

enter the string manmeet

number of consonants in the sentence are 4

In [10]:
#Remove all whitespaces from a string
string=input("enter the string")
print("the string is:",string)
new_string=string.replace(" ","")
print("the new string is:",new_string)

enter the string the end

the string is: the end
the new string is: theend

In [11]:
#Find the length of a string without using the `len()` function
string=input("enter the string")
print("the string is:",string)
count=0
for i in string:
    count +=1
print("the length of string is:",count)

enter the string manmeet

the string is: manmeet
the length of string is: 7

In [2]:
#Check if a string contains a specific word
string=input("enter the string")
print("the string is:",string)
word=input("enter the word to be found in the string")
print("the word is:",word)
if word in string:
    print("string contains word")
else:
    print("word not found in the string")

enter the string tatasky

the string is: tatasky

enter the word to be found in the string man

the word is: man
word not found in the string

In [5]:
#Replace a word in a string with another word
string= "my name is manmeet"
new_string=string.replace("manmeet","gagan")
print(new_string)

my name is gagan

In [1]:
#Count the occurrences of a word in a string
string=input("enter the string")
print("the string is:",string)
word=input("enter the word to be counted in the string:")
number=string.count(word)
print("the number of times word appears in string is:", number)

enter the string manmeet is girl. manmeet is smart.

the string is: manmeet is girl. manmeet is smart.

enter the word to be counted in the string: is

the number of times word appears in string is: 2

In [1]:
#Find the first occurrence of a word in a string
a="manmeet is good girl"
a.find('girl')

16

In [3]:
#Find the last occurrence of a word in a string
string="earth is round"
word='round'
occurance=string.rfind(word)
print("index of last occurance is",occurance)

index of last occurance is 9

In [4]:
#Split a string into a list of words
lst = "manmeet is cool girl"
print(lst.split())

['manmeet', 'is', 'cool', 'girl']

In [5]:
#Join a list of words into a string
words=['Canada', 'is', 'beautiful', 'country']
print(' '.join(words))

Canada is beautiful country

In [7]:
#Convert a string where words are separated by spaces to one where words are separated by underscores
string="We are evolving"
new_string=string.replace(" ","_")
print(new_string)

We_are_evolving

In [9]:
#Check if a string starts with a specific word or phrase
string=input("enter the string")
print("the string is:", string)
word=input("enter the word to be checked")
print("the word is:", word)
if string.startswith(word):
    print("string starts with the",word)
else:
    print("string does not start with",word)

enter the string manmeet is good girl

the string is: manmeet is good girl

enter the word to be checked gagan

the word is: gagan
string does not start with gagan

In [11]:
#Check if a string ends with a specific word or phrase
string=input("enter the string")
print("the string is:", string)
word=input("enter the word to be checked")
print("the word is:", word)
if string.endswith(word):
    print("string ends with the",word)
else:
    print("string ends not start with",word)

enter the string manmeet is amazing

the string is: manmeet is amazing

enter the word to be checked good

the word is: good
string ends not start with good

In [12]:
#Convert a string to title case (e.g., "hello world" to "Hello World")
input_string="hello world"
title_string=input_string.title()
print(title_string)

Hello World

In [13]:
#Find the longest word in a string
string="We need to find the longest word"
words=string.split()
longest_word=" "
max_length=0
for word in words:
    if len(word)>max_length:
        max_length=len(word)
        longest_word=word
        
print("the longest word in the string is:", longest_word)

the longest word in the string is: longest

In [16]:
#Find the shorted word in a string
string="We need to find the shortest word"
words=string.split()
shortest_word=None
min_length=float('inf')
for word in words:
    if len(word)<min_length:
        min_length=len(word)
        shortest_word=word
        
print("the shortest word in the string is:", shortest_word)

the shortest word in the string is: We

In [1]:
#Reverse the order of words in a string
string="This is string"
reversed_string=" ".join(string.split()[::-1])
print(reversed_string)

string is This

In [6]:
#Check if a string is alphanumeric
string="160canada"
if string.isalnum():
    print("The string is alphanumeric.")
else:
    print("the string is not alphanumeric.")

The string is alphanumeric.

In [11]:
#Extract all digits from a string
string="123 planets in our solar system"
count=''.join(filter(str.isdigit, string))     
print("digits in string is:", count)

No of digits in string is: 123

In [14]:
#Extract all alphabets from a string
string="123 planets in our solar system"
count=''.join(filter(str.isalpha, string))     
print("Alphabets in string are:", count)

No of digits in string is: planetsinoursolarsystem

In [23]:
# Print the count of uppercase letters

string = "This is my India"
uppercase_count = 0
for char in string:
    if char.isupper():
        uppercase_count += 1


print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 2

In [25]:
#Count the number of lowercase letters in a string.

string="India is on the moon"
count=0
for i in string:
    if char.islower():
        count+=1
print("Numberof lowercase letters in string:", count)

Numberof lowercase letters in string: 20

In [6]:
#Swap the case of each character in a string
string="India is on the moon"
result=''.join([char.lower() if char.isupper() else char.upper() if char.islower() else char for char in string])
print("Case-swappeed string:",result)

Case-swappeed string: iNDIA IS ON THE MOON

In [9]:
#Remove a specific word from a string
string=input("enter the string:")
word=input("enter the word to be removed:")
new_string=string.replace(word,"")
print("string after removing the word is:", new_string)

enter the string: manmeet
enter the word to be removed: an

string after removing the word is: mmeet

In [4]:
#Check if a string is a valid email address
from validate_email_address import validate_email

email_address = input("enter an email address: ")
if validate_email(email_address,verify=True):
    print("Valid email address")
else:
    print("Invalid email address")

enter an email address:  sdsdfdsf

Invalid email address

In [11]:
pip install validate_email_address

Collecting validate_email_address
  Downloading validate-email-address-1.tar.gz (4.9 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: validate_email_address
  Building wheel for validate_email_address (setup.py) ... done
  Created wheel for validate_email_address: filename=validate_email_address-1-py3-none-any.whl size=5743 sha256=c69228f85fe7afadc996ed10c7309b5eb5225d98eb8512b5b6e7293c7cf4eb1e
  Stored in directory: /home/jovyan/.cache/pip/wheels/55/9c/7c/63b7b2e62664066aa4b8849522cf830df4cff1414aabde6095
Successfully built validate_email_address
Installing collected packages: validate_email_address
Successfully installed validate_email_address-1
Note: you may need to restart the kernel to use updated packages.

In [17]:
pip install dnspython

Collecting dnspython
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 9.2 MB/s eta 0:00:00
Installing collected packages: dnspython
Successfully installed dnspython-2.4.2
Note: you may need to restart the kernel to use updated packages.

In [6]:
#Extract the username from an email address string
email_address=input("enter an email address: ")
parts=email_address.split("@")
if len(parts)>1:
    username=parts[0]
    print("username:",username)
else:
    print("invalid email address")

enter an email address:  mango@gmail,cim

username: mango

In [7]:
#Extract the domain name from an email address string
email_address=input("enter an email address: ")
parts=email_address.split("@")
if len(parts)>1:
    username=parts[1]
    print("username:",username)
else:
    print("invalid email address")

enter an email address:  manmeet@gmail.com

username: gmail.com

In [10]:
#Replace multiple spaces in a string with a single space
string=input("Enter the string with multiple spaces")
new_string=' '.join(string.split())
print(new_string)

Enter the string with multiple spaces jlhsjkcns    djsckjs   cndcjdw             jdjnsm

jlhsjkcns djsckjs cndcjdw jdjnsm

In [13]:
#Check if a string is a valid URL
url=input("enter the url:")
if url.startswith("http://") or url.startswith("https://"):
    print("url is valid")
else:
    print("url is not valid")

enter the url: djksbhjwbkjc wjdc

url is not valid

In [15]:
#Extract the protocol (http or https) from a URL string
url=input("enter the url:")
extract=url.split("://")
if len(extract)>=2:
    print(extract[0])
else:
    print("not valid")

enter the url: https://www.google.com

['https', 'www.google.com']

In [1]:
#Find the frequency of each character in a string
string="my name is manmeet"
char_freq={}

for char in string:
    char_freq[char] = char_freq.get(char, 0) + 1
    
for char, freq in char_freq.items():
    print(f" '{char}' : {freq}")

 'm' : 4
 'y' : 1
 ' ' : 3
 'n' : 2
 'a' : 2
 'e' : 3
 'i' : 1
 's' : 1
 't' : 1

In [4]:
#Remove all punctuation from a string
string=input("enter the string")
punctuation = "'!()-[]{}:;'/.,<>?@#$%^&*"
new_string=" "
for i in string:
    if i not in punctuation:
        new_string +=char
print("new string without punctuation is", new_string)

enter the string njksdhfudsh3432954093950;;'',;,dshsh

new string without punctuation is  ttttttttttttttttttttttttttttt

In [5]:
#Check if a string contains only digits.
string1="123hjcbhad"
string2="12345"
if all(char.isdigit() for char in string1):
    print("strings contain only digit")
else:
    print("string conatains both")

string conatains both

In [7]:
#Check if a string contains only alphabets.
string1="123hjcbhad"
string2="avcgvsvc"
if all(char.isalpha() for char in string2):
    print("strings contain only characters")
else:
    print("string conatains both")

strings contain only characters

In [9]:
#Convert a string to a list of characters
string="manmeet is great"
char_list = [char for char in string]
print(char_list)

['m', 'a', 'n', 'm', 'e', 'e', 't', ' ', 'i', 's', ' ', 'g', 'r', 'e', 'a', 't']

In [10]:
#Check if two strings are anagrams
string1="listen"
string2="silent"
string1 = string1.replace(" ", "").lower()
string2=string2.replace(" ","").lower()

if sorted(string1) == sorted(string2):
    print("string are anagrams")
else:
    print("string are not anagram")

string are anagrams

In [1]:
#Encode a string using a Caesar cipher
text = "Hello, World!"
shift = 3
action = 'encode'  # Change to 'decode' for decoding

result = ""
shift = shift % 26

for char in text:
    if char.isalpha():
        is_upper = char.isupper()
        ascii_code = ord(char)
        
        if action == 'encode':
            shifted_code = ascii_code + shift
        elif action == 'decode':
            shifted_code = ascii_code - shift
        
        if is_upper:
            if shifted_code > ord('Z'):
                shifted_code -= 26
            elif shifted_code < ord('A'):
                shifted_code += 26
        else:
            if shifted_code > ord('z'):
                shifted_code -= 26
            elif shifted_code < ord('a'):
                shifted_code += 26
        
        shifted_char = chr(shifted_code)
        result += shifted_char
    else:
        result += char

print(result)

Khoor, Zruog!

In [2]:
#Decode a Caesar cipher encoded string
encoded_text = "Khoor, Zruog!"
shift_amount = 3
decoded_text = ""

for char in encoded_text:
    if char.isalpha():
        is_upper = char.isupper()
        ascii_code = ord(char)
        
        shifted_code = ascii_code - shift_amount  # Decoding step
        
        if is_upper:
            if shifted_code < ord('A'):
                shifted_code += 26
        else:
            if shifted_code < ord('a'):
                shifted_code += 26
        
        shifted_char = chr(shifted_code)
        decoded_text += shifted_char
    else:
        decoded_text += char

print("Decoded:", decoded_text)

Decoded: Hello, World!

In [11]:
#Find the most frequent word in a string
text= "This is cat. Cat is fat. I love cat."
# Convert the text to lowercase to make the word count case-insensitive
text = text.lower()

# Split the text into words
words = text.split()

# Create a dictionary to store word frequencies
word_count = {}

# Count the frequency of each word
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

# Find the word with the highest frequency
most_frequent_word = max(word_count, key=word_count.get)

print("Most frequent word:", most_frequent_word)
print("Frequency:", word_count[most_frequent_word])

Most frequent word: is
Frequency: 2

In [12]:
#Find all unique words in a string
text= "This is cat. Cat is fat. I love cat."
text=text.lower()
words=text.split()
unique_words=set()
for word in words:
    unique_words.add(word)
    
unique_words_list = list(unique_words)

print("Unique words:", unique_words_list)

Unique words: ['is', 'fat.', 'love', 'this', 'cat.', 'cat', 'i']

In [1]:
#Count the number of syllables in a string.
import re
def count_syllables(word):
    vowel_groups=re.findall(r'[aeiou]+', word, re.IGNORECASE)
    return len(vowel_groups)

word1="hello"
word2="banana"
word3="syllable"

syllables1=count_syllables(word1)
syllables2=count_syllables(word2)
syllables3=count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 2 syllables.

In [3]:
#Check if a string contains any special characters
import re
def contain_sc(string_input):
    pattern=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match=pattern.search(string_input)
    return bool(match)

string1="hello, world!"
string2="this is world."

result1=contain_sc(string1)
result2=contain_sc(string2)


print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)

'hello, world!' contains special characters: True
'this is world.' contains special characters: True

In [22]:
#Remove the nth word from a string
string="this is Manmeet"
n=2
words = string.split()
if n<=0 or n>len(words):
    string="invalid string"
else:
    words.pop(n-1)
    
new_string=" ".join(words)

print(new_string)

this Manmeet

In [24]:
#Insert a word at the nth position in a string
string="this is Manmeet"
wordtoinsert="rockstar"
n=3
words = string.split()
if n<=0 or n>len(words):
    string="invalid string"
else:
    words.insert(n-1, wordtoinsert)
    
new_string=" ".join(words)

print(new_string)

this is rockstar Manmeet

In [25]:
# CSV string
csv_string = """1,John,Doe
2,Jane,Smith
3,Bob,Johnson"""

# Initialize a list to store the converted data
csv_data = []

# Split the CSV string into lines
lines = csv_string.split('\n')

# Iterate through the lines and split each line into a list of values
for line in lines:
    if line.strip():  # Skip empty lines
        row = line.split(',')
        csv_data.append(row)

# Print the list of lists
for row in csv_data:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

In [ ]:
#LIST BASED PRACTISE PROBLEM

In [26]:
#Create a list with integers from 1 to 10
list=[x for x in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
#Find the length of a list without using the `len()` function
list=[1,2,3,4,5]
count=0
for i in list:
    count+=1
print("the length of list is:", count)

the length of list is: 5

In [29]:
#Append an element to the end of a list.
list=[1,2,3,4,5]
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [30]:
#Insert an element at a specific index in a list.
list=[1,2,3,4,5]
list.insert(2,6)
print(list)

[1, 2, 6, 3, 4, 5]

In [32]:
#remove an element from a list by its value
list=[1,2,3,4,5]
list.remove(2)
print(list)

[1, 3, 4, 5]

In [33]:
#Remove an element from a list by its index
list=[1,2,3,4,5]
index_to_remove=3
removed_element = list.pop(index_to_remove)
print(list)
print("removed element:", removed_element)

[1, 2, 3, 5]
removed element: 4

In [34]:
#Check if an element exists in a list
list=[1,2,3,4,5]
element = 2
if element in list:
    print("element is in the list")
else:
    print("element is not in the list")

element is in the list

In [1]:
#Find the index of the first occurrence of an element in a list
list=[1,2,3,4,5,6]
element=3
index=list.index(element)
print("index of element",index)

index of element 2

In [4]:
#Count the occurrences of an element in a list.
list=[1,2,3,4,5,2,1,4,2,3]
element_to_count=1
count=list.count(element_to_count)
print("count of element in list is",count)

count of element in list is 2

In [6]:
#Reverse the order of elements in a list.
list=[1,2,3,4,5]
reversed_list=list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

In [10]:
#Sort a list in ascending order.
list=[3,1,4,2,5,6]
list.sort()
print(list)

[1, 2, 3, 4, 5, 6]

In [12]:
#Sort a list in descending order.
list=[3,1,4,2,5,6]
sorted_list=sorted(list,reverse=True)
print(sorted_list)

[6, 5, 4, 3, 2, 1]

In [14]:
#Create a list of even numbers from 1 to 20.
even_numbers=[x for x in range(2,21,2)]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
#Create a list of odd numbers from 1 to 20.
odd_numbers=[x for x in range(1,20,2)]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
#Find the sum of all elements in a list.
list=[1,2,3,4,5,6]
sum=0
for i in list:
    sum+=i
print(sum)

21

In [21]:
#Find the maximum value in a list.
list=[10,34,731,47,3]
max_value=max(list)
print("maximum value in the list is:",max_value)

maximum value in the list is: 731

In [22]:
#Find the minimum value in a list.
list=[10,34,731,47,3]
min_value=min(list)
print("minimum value in the list is:",min_value)

minimum value in the list is: 3

In [3]:
#Create a list of squares of numbers from 1 to 10.
list=[x for x in range(1,11)]
print(list)
squares=[]
for i in range(1,11):
    square=i**2
    squares.append(square)
    
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#Create a list of random numbers.
import random
random_numbers=[random.random() for i in range(10)]
    
print(random_numbers)

[0.932704109194547, 0.6123376103709838, 0.1673303853058038, 0.909614523427703, 0.19814904566916236, 0.9085933794247983, 0.12803218216099188, 0.9933516085950441, 0.07202560665112667, 0.3289168939646028]

In [13]:
#Remove duplicates from a list.
original_list = [1,3,2,1,4,2,1,3,2]
unique_list = []
for item in original_list:
    if item not in unique_list:
        unique_list.append(item)
print(unique_list)

[1, 3, 2, 4]

In [14]:
#Find the common elements between two lists.
list1=[1,2,3,4,5,6]
list2=[6,7,8,9,10,11]
common_elements=[]
for element in list1:
    if element in list2:
        common_elements.append(element)
        
print(common_elements)

[6]

In [16]:
#Find the difference between two lists.
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
difference = [element for element in list1 if element not in list2]
print(difference)

[1, 2]

In [17]:
#Merge two lists.
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
merged_list=list1+list2
print(merged_list)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

In [19]:
#Multiply all elements in a list by 2
list=[1,2,3,4,5]
doubled_list=[]
for element in list:
    doubled_element=element*2
    doubled_list.append(doubled_element)
    
print(doubled_list)

[2, 4, 6, 8, 10]

In [25]:
#Filter out all even numbers from a list
list=[1,2,3,4,5,6,7,8]
new_list=[x for x in list if x%2 == 0]
print(new_list)

[2, 4, 6, 8]

In [26]:
#Convert a list of strings to a list of integers
string_list=["1","2","3","4","5"]
int_list =[int(x) for x in string_list]
print(int_list)

[1, 2, 3, 4, 5]

In [27]:
#Convert a list of integers to a list of strings
int_list=[1,2,3,4,5]
str_list =[str(x) for x in int_list]
print(str_list)

['1', '2', '3', '4', '5']

In [35]:
#flatten a nested list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
 
# iterate through the sublist using List comprehension
flatList = [element for innerList in lis for element in innerList]
 
# printing original list
print('List', lis)
# printing flat list
print('Flat List', flatList)

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [36]:
#Create a list of the first 10 Fibonacci numbers
n=10
num1 =0
num2 =1
next_number =num2
count =1
while count<=n:
    print(next_number, end=" ")
    count+=1
    num1,num2=num2, next_number
    next_number=num1+num2

1 2 3 5 8 13 21 34 55 89

In [38]:
#Check if a list is sorted.
listA=[11,31,10,32,43,21]
print("Given list:", listA)
listA_copy=listA[:]
listA_copy.sort()
if (listA == listA_copy):
    print("Yes, List is sorted")
else:
    print("No, List is not sorted")

Given list: [11, 31, 10, 32, 43, 21]
No, List is not sorted

In [41]:
#Rotate a list to the left by `n` positions.
list=[1,2,3,4,5]
print("original list is:",str(list))
#left rotate by 3
list=list[3:]+list[:3]
print("left rotated list is:",str(list))

original list is: [1, 2, 3, 4, 5]
left rotated list is: [4, 5, 1, 2, 3]

In [43]:
#Rotate a list to the right by `n` positions.
list=[1,2,3,4,5]
print("original list is:",str(list))
#right rotate by 3
list=list[-3:]+list[:-3]
print("right rotated list is:",str(list))

original list is: [1, 2, 3, 4, 5]
right rotated list is: [3, 4, 5, 1, 2]

In [45]:
#Create a list of prime numbers up to 50.
for num in range(2,51):
    if all(num%i!=0 for i in range(2,num)):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [46]:
#Split a list into chunks of size `n`.
list=[1,2,3,4,5,6,7,8,9]
start=0
end=len(list)
step=3
for i in range(start,end,step):
    x=i
    print(list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [51]:
#Find the second largest number in a list
list1=[10,20,30,20,50,20,10,30]
list1.sort()
print("second largest element is:", sorted(list1)[-2])

second largest element is: 30

In [52]:
#Replace every element in a list with its square
list=[1,2,3,4,5]
for i in range(len(list)):
    list[i]=list[i]**2
print(list)

[1, 4, 9, 16, 25]

In [53]:
#Convert a list to a dictionary where list elements become keys and their indices become values.
list=['apple','banana','strawberry','date']
my_dict={element:index for index, element in enumerate(list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'strawberry': 2, 'date': 3}

In [54]:
#Shuffle the elements of a list randomly
import random
list=[1,2,3,4,5]
random.shuffle(list)
print(list)

[4, 3, 5, 2, 1]

In [55]:
#Create a list of the first 10 factorial numbers.
factorial_list=[]
result=1
for i in range(10):
    result*=(i+1)
    factorial_list.append(result)
    
print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [56]:
#Check if two lists have at least one element in common
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
common_elements = set(list1) & set(list2)
if common_elements:
    print("lists have a at least one element in common")
else:
    print("list have no common element")

lists have a at least one element in common

In [57]:
#Remove all elements from a list.
list=[1,2,3,4,5]
list.clear()
print(list)

[]

In [1]:
#Replace negative numbers in a list with 0
list=[1,-2,3,-4,5]
new_list=[x if x>=0 else 0 for x in list]
print(new_list)

[1, 0, 3, 0, 5]

In [2]:
#Convert a string into a list of words.
string="my name is manmeet"
word_list=string.split()
print(word_list)

['my', 'name', 'is', 'manmeet']

In [5]:
#Convert a list of words into a string.
list=['my', 'name', 'is', 'manmeet']
string=' '.join(list)
print(string)

my name is manmeet

In [6]:
#Create a list of the first `n` powers of 2
n=5
powers_of_2=[2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16]

In [6]:
#Find the longest string in a list of strings
list_of_strings=["manmeet","is","amazing"]
longest_string=max(list_of_strings, key=len)
print("The longest string in the list is:",longest_string)

The longest string in the list is: manmeet

In [8]:
#Find the shortest string in a list of strings
list_of_strings=["manmeet","is","amazing"]
shortest_string=min(list_of_strings, key=len)
print("The shortest string in the list is:",shortest_string)

The shortest string in the list is: is

In [12]:
#Create a list of the first `n` triangular numbers.
number=int(input("enter the number of triangular numbers  in the list"))
tns=[]
for i in range(1,number+1):
           tn=i*(i+1)//2
           tns.append(tn)
           
print("first",number,"triangular numbers are:",tns)

enter the number of triangular numbers  in the list 4

first 4 triangular numbers are: [1, 3, 6, 10]

In [2]:
#Check if a list contains another list as a subsequence
sequence=[1,2,3,4,5,6]
subsequence=[2,3,4]
seq_len=len(sequence)
sub_len=len(subsequence)
seq_index=0
sub_index=0
while seq_index<seq_len and sub_index<sub_len:
    if sequence[seq_index]==sequence[sub_index]:
        sub_index+=1
    seq_index+=1
    
if sub_index==sub_len:
    print("subsequence found")
else:
    print("sequence not found")

subsequence found

In [1]:
#Swap two elements in a list by their indices
list=[1,2,3,4,5]
index1=1
index2=4
list[index1],list[index2]=list[index2], list[index1]
print(list)

[1, 5, 3, 4, 2]

In [3]:
#Tuple based problems

In [4]:
#Create a tuple with integers from 1 to 5.
tuple=(1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [5]:
#Access the third element of a tuple.
tuple=(1,2,3,4,5)
print(tuple[2])

3

In [9]:
#Find the length of a tuple without using the `len()` function
tuple=(1,2,3,4,5)
length=0
for i in tuple:
    length +=1
print("length of tuple is:", length)

length of tuple is: 5

In [11]:
#Count the occurrences of an element in a tuple.
tuple=(1,2,3,4,51,2,3)
element_to_find=3
count=0
for item in tuple:
    if item==element_to_find:
        count +=1
print("element 3 appears",count,"times in tuple")

element 3 appears 2 times in tuple

In [3]:
#Find the index of the first occurrence of an element in a tuple.
tuple=(1,2,3,4,5)
element_to_find=2
if element_to_find in tuple:
    index=tuple.index(element_to_find)
    print("The first occurance of element is:", element_to_find)
else:
    print("element is not present in tuple")

The first occurance of element is: 2

In [6]:
#Check if an element exists in a tuple.
tuple=(1,2,3,4,5)
element_to_find=2
if element_to_find in tuple:
    print("element exists in a tuple")
else:
    print("element does not exist in the tuple")

element exists in a tuple

In [7]:
#Convert a tuple to a list.
tuple=(10,20,30,40,50)
list=list(tuple)
print(list)

[10, 20, 30, 40, 50]

In [1]:
#Convert a list to a tuple.
my_list = [10,20,30,40,50]
my_tuple = tuple(my_list)
print(my_tuple)

(10, 20, 30, 40, 50)

In [2]:
#Unpack the elements of a tuple into variables
tuple=(1,2,3)
var1, var2, var3=tuple
print("variable 1:", var1)
print("variable 2:", var2)
print("variable 3:", var3)

variable 1: 1
variable 2: 2
variable 3: 3

In [1]:
#Create a tuple of even numbers from 1 to 10.
even_numbers_tuple=[x for x in range(1,11) if x%2 ==0]
ent = tuple(even_numbers_tuple)
print(ent)

(2, 4, 6, 8, 10)

In [5]:
#Create a tuple of odd numbers from 1 to 10.
odd_number_tuple=[x for x in range(1,11) if x%2 !=0]
ont=tuple(odd_number_tuple)
print(ont)

(1, 3, 5, 7, 9)

In [6]:
#Concatenate two tuples.
tuple1=(1,2,3)
tuple2=(4,5,6)
concatenated_tuple=tuple1+tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [7]:
#Repeat a tuple three times.
tuple1=(1,2,3)
newtuple=3*tuple1
print(newtuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [8]:
#Check if a tuple is empty.
mytuple=()
if len(mytuple) ==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [12]:
#Create a nested tuple.
nestedtuple=((1,2),(3,4),(5,6))
first_element=nestedtuple[0]
second_element=nestedtuple[1]
third_element=nestedtuple[2]
element1_1=nestedtuple[0][0]
element1_2=nestedtuple[0][1]
element1_3=nestedtuple[1][0]
element1_4=nestedtuple[1][1]
element1_5=nestedtuple[2][0]
element1_6=nestedtuple[2][1]
print("first_element", first_element)
print("second_element", second_element)
print("third_element",third_element)

first_element (1, 2)
second_element (3, 4)
third_element (5, 6)

In [13]:
#Access the first element of a nested tuple.
nestedtuple=((1,2),(3,4),(5,6))
first_element=nestedtuple[0]
print("first_element", first_element)

first_element (1, 2)

In [14]:
#Create a tuple with a single element
single_element=(1,)
print("single element tuple:",single_element)

single element tuple: (1,)

In [15]:
#Compare two tuples.
tuple1=(1,2,3)
tuple2=(3,4,5)
print("tuple1==tuple2:", tuple1==tuple2)
print("tuple1!=tuple2:", tuple1!=tuple2)
print("tuple1<tuple2:", tuple1<tuple2)
print("tuple1<=tuple2:", tuple1<=tuple2)
print("tuple1>tuple2:", tuple1>tuple2)
print("tuple1>=tuple2:", tuple1>=tuple2)

tuple1==tuple2: False
tuple1!=tuple2: True
tuple1<tuple2: True
tuple1<=tuple2: True
tuple1>tuple2: False
tuple1>=tuple2: False

In [11]:
#Delete a tuple.
mytuple = (1,2,3)
print(mytuple)
del mytuple
print(mytuple)

(1, 2, 3)

NameError: name 'mytuple' is not defined

In [7]:
#Slice a tuple
tuple1=(1,2,3,4,5,6,7,8,9,10)
sliced_tuple=tuple1[2:6]
print("sliced_tuple:",sliced_tuple)

sliced_tuple: (3, 4, 5, 6)

In [8]:
#Find the maximum value in a tuple.
tuple1=(1,2,3,4,5,6,7,8,9,10)
max_value=max(tuple1)
print("maximum_value", max_value)

maximum_value 10

In [9]:
#Find the minimum value in a tuple.
tuple1=(1,2,3,4,5,6,7,8,9,10)
min_value=min(tuple1)
print("minimum_value", min_value)

minimum_value 1

In [4]:
#Convert a string to a tuple of characters.
mystring="its_Manmeet"
tuple_of_chars=tuple(mystring)
print("tuple of characters is:", tuple_of_chars)

tuple of characters is: ('i', 't', 's', '_', 'M', 'a', 'n', 'm', 'e', 'e', 't')

In [19]:
#Convert a tuple of characters to a string.
tuple_of_chars = ('h','e','l','l','o')
string_joined =' '.join(tuple_of_chars)
print("string of tuple is:",tuple_of_chars)

string of tuple is: ('h', 'e', 'l', 'l', 'o')

In [20]:
#Create a tuple from multiple data types.
mixed_tuple=(1,"Manmeet", 2.2, True)
print(mixed_tuple)

(1, 'Manmeet', 2.2, True)

In [21]:
#Check if two tuples are identical.
tuple1=(1,2,3)
tuple2=(1,2,3)
are_identical=tuple1==tuple2
print("tuple 1 and tuple 2 are identical", are_identical)

tuple 1 and tuple 2 are identical True

In [1]:
#Sort the elements of a tuple.
tuple1=(3,2,5,1,10)
sorted_tuple=tuple(sorted(tuple1))
print("sorted tuple are:",sorted_tuple)

sorted tuple are: (1, 2, 3, 5, 10)

In [2]:
#Convert a tuple of integers to a tuple of strings.
tuple_of_integers=(1,2,3,4,5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [3]:
#Convert a tuple of strings to a tuple of integers.
tuple_of_string=('1', '2','3','4')
tuple_of_integers=tuple(int(item) for item in tuple_of_string)
print("tuple of integers:", tuple_of_integers)

tuple of integers: (1, 2, 3, 4)

In [27]:
#Merge two tuples.
tuple1=(1,2,3)
tuple2=(4,5,6)
merged_tuple=tuple1+tuple2
print("merged tuple is:", merged_tuple)

merged tuple is: (1, 2, 3, 4, 5, 6)

In [5]:
#Flatten a nested tuple.
nested_tuple=(1,(2,3),(4,(5,6)))
flatten_tuple=tuple(item for sublist in nested_tuple for item in (sublist if isinstance(sublist, tuple) else (sublist,)))
print(flatten_tuple)

(1, 2, 3, 4, (5, 6))

In [7]:
#Create a tuple of the first 5 prime numbers.
primes=[]
num=2
while len(primes)<5:
    is_prime=True
    
    for i in range(2, int(num**0.5)+1):
        if num%i==0:
            is_prime=False
            break
            
    if is_prime:
        primes.append(num)
        
    num+=1
    
prime_tuple=tuple(primes)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [10]:
#Check if a tuple is a palindrome.
input_tuple=(1,2,3,2,1)
if input_tuple==input_tuple[::-1]:
    print("it is tuple")
else:
    print("it is not a tuple")

it is tuple

In [14]:
#Create a tuple of squares of numbers from 1 to 5.
squares=tuple(x**2 for x in range(1,6))
print("squares of number is:", squares)

squares of number is: (1, 4, 9, 16, 25)

In [16]:
#Filter out all even numbers from a tuple.
tupleall=(1,2,3,4,5)
tupleeven=tuple(num for num in tupleall if num%2!=0)
print(tupleeven)

(1, 3, 5)

In [17]:
#Multiply all elements in a tuple by 2.
tupleall=(1,2,3,4,5)
multiple2=tuple(num*2 for num in tupleall)
print("multiple of 2:", multiple2)

multiple of 2: (2, 4, 6, 8, 10)

In [18]:
#Create a tuple of random numbers.
import random
random_tuple=tuple(random.randint(1,100) for _ in range(10))
print("random tuple:", random_tuple)

random tuple: (12, 9, 45, 85, 43, 66, 41, 62, 42, 86)

In [21]:
#Check if a tuple is sorted.
sorted_tuple=(1,2,3,4,5)
is_sorted=all(sorted_tuple[i]<=sorted_tuple[i+1] for i in range(len(input_tuple)-1))

if is_sorted:
    print("the tuple is sorted.")
else:
    print("the tuple is not sorted.")

the tuple is sorted.

In [1]:
#Rotate a tuple to the left by `n` positions.
input_tuple=(1,2,3,4,5)
n=2
rotated_tuple=input_tuple[n:]+input_tuple[:n]
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [3]:
#Rotate a tuple to the right by `n` positions.
input_tuple=(1,2,3,4,5)
n=2
effective_rotation = len(input_tuple) - n
rotated_tuple = input_tuple[effective_rotation:] + input_tuple[:effective_rotation]
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [4]:
#Create a tuple of the first 5 Fibonacci numbers.
fibonacci_tuple=(0,1)
while len(fibonacci_tuple)<5:
    next_fib=fibonacci_tuple[-1] +fibonacci_tuple[-2]
    fibonacci_tuple+=(next_fib,)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [6]:
#Create a tuple from user input.
input_str=input("enter elements seperated by commas:")
input_list=input_str.split(',')
user_tuple=tuple(input_list)
print("user input tuple:",user_tuple)

enter elements seperated by commas: m,a,n,e,y

user input tuple: ('m', 'a', 'n', 'e', 'y')

In [7]:
#Swap two elements in a tuple.
tuple1=(1,2,3,4,5)
index1=1
index2=4
swapped_tuple=tuple(
    tuple1[i] if i not in (index1, index2) else
    tuple1[index2] if i == index1 else
    tuple1[index1]
    for i in range(len(tuple1))
)
print("swapped tuple:", swapped_tuple)

swapped tuple: (1, 5, 3, 4, 2)

In [9]:
#Reverse the elements of a tuple.
tuple1=(1,2,3,4,5)
reverse_tuple=tuple1[::-1]
print("reversed tuple:",reverse_tuple)

reversed tuple: (5, 4, 3, 2, 1)

In [5]:
#Create a tuple of the first `n` powers of 2.
n=5
powers_of_tuple=tuple(2**i for i in range(n))
print("tuple of first",n,"powers of 2",powers_of_tuple)

tuple of first 5 powers of 2 (1, 2, 4, 8, 16)

In [11]:
# Find the longest string in a tuple of strings.
string_tuple=("potato","peas","cabbage")
longest_string=max(string_tuple, key=len)
print("longest string:",longest_string)

longest string: cabbage

In [12]:
# Find the shortest string in a tuple of strings.
string_tuple=("potato","peas","cabbage")
shortest_string=min(string_tuple, key=len)
print("shortest string:",shortest_string)

shortest string: peas

In [6]:
#Create a tuple of the first `n` triangular numbers.
n=5
triangular_tuple = tuple((i*(i+1))//2 for i in range(1,n+1))
print("tuple of the first",n,"tringular numbers:", triangular_tuple)

tuple of the first 5 tringular numbers: (1, 3, 6, 10, 15)

In [11]:
#Check if a tuple contains another tuple as a subsequence.
main_tuple = (1, 2, 3, 4, 5, 6)
subsequence_tuple = (2, 4, 6)
main_index = 0
subsequence_index = 0
while main_index < len(main_tuple) and subsequence_index < len(subsequence_tuple):
    if main_tuple[main_index] == subsequence_tuple[subsequence_index]:
         subsequence_index += 1
       

    main_index += 1
    
if subsequence_index == len(subsequence_tuple):
    print("Subsequence found")
else:
    print("Subsequence not found")

Subsequence found

In [12]:
#Create a tuple of alternating 1s and 0s of length `n`.
n=10
alternating_tuple=tuple(i%2 for i in range(n))
print("tuple of alternating 1s and 0s:", alternating_tuple)

tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [18]:
#set based problem

In [17]:
#Create a set with integers from 1 to 5
my_set={x for x in range(1,6)}
print(my_set)

{1, 2, 3, 4, 5}

In [37]:
#Add an element to a set.
my_set={1,2,3,4,5}
element_to_add=4
my_set.add(element_to_add)
print(my_set)

{1, 2, 3, 4, 5}

In [29]:
#remove an element to a set.
my_set={1,2,3,4,5}
element_to_remove=4
my_set.remove(element_to_add)
print(my_set)

{1, 2, 3, 5}

In [30]:
#Check if an element exists in a set.
set1={1,2,3,5,6}
element_to_check=4
if element_to_check in set1:
    print("element is present")
else:
    print("element is not present")

element is not present

In [31]:
#Find the length of a set without using the `len()` function.
set1={1,2,3,4,5}
count=0
for _ in set1:
    count+=1
print("length of set is:", count)

length of set is: 5

In [32]:
#Clear all elements from a set.
my_set={1,2,3,4,5}
print("original set", my_set)
my_set.clear()
print("set after clearing", my_set)

original set {1, 2, 3, 4, 5}
set after clearing set()

In [33]:
#Create a set of even numbers from 1 to 10.
even_numbers_set=set()
for num in range(1,11):
    if num%2==0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [38]:
#Create a set of odd numbers from 1 to 10.
odd_number_set=set()
for num in range(1,11):
    if num%2!=0:
        odd_number_set.add(num)
print(odd_number_set)

{1, 3, 5, 7, 9}

In [40]:
#Find the union of two sets.
set1={1,2,3}
set2={5,4,2}
union_result=set1.union(set2)
print("union of set1 and set2:", union_result)

union of set1 and set2: {1, 2, 3, 4, 5}

In [41]:
#Find the intersection of two sets.
set1={1,2,3}
set2={5,4,2}
intersection_result=set1.intersection(set2)
print("union of set1 and set2:", intersection_result)

union of set1 and set2: {2}

In [43]:
#Find the difference between two sets.
set1={1,2,3}
set2={5,4,2}
difference_result=set1.difference(set2)
print("union of set1 and set2:", difference_result)

union of set1 and set2: {1, 3}

In [46]:
#Check if a set is a subset of another set.
set1={1,2,3}
set2={1,2,3,4,5}
is_subset=set1.issubset(set2)
print("is set1 a subset of set 2:", is_subset)

is set1 a subset of set 2: True

In [47]:
#Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [48]:
#Create a set from a list.
my_list = [2, 4, 1, 4, 3, 2, 5]
my_set = set(my_list)
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [50]:
#Convert a set to a list.
set1={1,2,3,4,1,3,4}
list1=list(set1)
print("original set:",set1)
print("converted list:",list1)

original set: {1, 2, 3, 4}
converted list: [1, 2, 3, 4]

In [51]:
#Remove a random element from a set.
import random
my_set={1,2,3,4,5}
print("original set:", my_set)
random_element=random.choice(list(my_set))
my_set.remove(random_element)
print("updated set after removing", random_element,"in", my_set)

original set: {1, 2, 3, 4, 5}
updated set after removing 4 in {1, 2, 3, 5}

In [52]:
#Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()
print("Set after popping:", my_set)

Set after popping: {2, 3, 4, 5}

In [53]:
#Check if two sets have no elements in common.
set1={1,2,3,4}
set2={2,3,5,6}
common_elements = set1.intersection(set2)
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {2, 3}

In [54]:
#Find the symmetric difference between two sets.
set1={1,2,3,4,5}
set2={3,4,5,6,7,8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 6, 7, 8}

In [55]:
#Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print("Updated Set 1:", set1)

Updated Set 1: {1, 2, 3, 4, 5}

In [56]:
#Create a set of the first 5 prime numbers.
prime_set=set()
num=2
while len(prime_set)<5:
    is_prime=True
    
    for i in range(2, int(num**0.5)+1):
        if num%i==0:
            is_prime=False
            break
            
    if is_prime:
        prime_set.add(num)
        
        
    num+=1
    
print(prime_set)

{2, 3, 5, 7, 11}

In [57]:
#Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [58]:
#Create a frozen set.
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
#Check if a set is disjoint with another set.
set1={1,2,3,4}
set2={5,6,7,8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

In [ ]:
#Create a set of squares of numbers from 1 to 5.
squares_set = set()
for num in range(1,6):
    square=num**2
    squares_set.add(square)
print(squares_set)

In [ ]:
#Filter out all even numbers from a set.
set1={1,2,3,45,6,7,8,9}
even_nu_set=set()
for num in set1:
    if num%2==0:
        even_nu_set.add(num)
print("original set:",set1)
print("even number set:",even_nu_set)

In [ ]:
#Multiply all elements in a set by 2.
set1={1,2,3,4,5,6}
mulitplies_set=set()
for num in set1:
    muliplies_num=num*2
    mulitplies_set.add(multiplies_num)
print("original set:", set1)
print("multiplied set:",mulitplies_set)

In [ ]:
#Create a set of random numbers
import random
no_random=10
rand_set=set()
for _ in range(no_random):
    random_num=random.randint(1,100)
    rand_set.add(random_num)
print("generated set of random numbers:", rand_set)

In [ ]:
#Check if a set is empty.
set1=set()
if not set1:
    print("the set is empty")
else:
    print("the set is not empty")

In [ ]:
#Create a nested set
set1={1,2,3,4}
set2={5,6,7,8}
frozen_set1=frozenset(set1)
frozen_set2=frozen(set2)
nested_set={frozen_set1,frozen_set2}
print("nested set:",nested_set)

In [ ]:
#Remove an element from a set using the discard method.
set1={1,2,3,4,5}
element_to_discard=2
set1.discard(element_to_discard)
print("set after discarding is",set1)

In [13]:
#Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [14]:
#Create a set from a string
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'l', 'o', 'h', 'e'}

In [15]:
#Convert a set of strings to a set of integers.
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

In [16]:
#Convert a set of integers to a set of strings.
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'2', '3', '1', '5', '4'}

In [17]:
#Create a set from a tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [18]:
#Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [19]:
#Find the maximum value in a set.
my_set={1,2,3,4,5}
max_value=None
for num in my_set:
    if max_value is None or num>max_value:
        max_value=num
print("Maximum value:", max_value)

Maximum value: 5

In [62]:
#Find the minimum value in a set.
number_set = {15, 8, 23, 4, 42, 11}
min_value = None
for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [20]:
#Create a set from user input.
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  mynME, IS , MANMEET
>  DONE

Final set: {'mynME, IS , MANMEET'}

In [61]:
#Check if the intersection of two sets is empty
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [21]:
#Create a set of the first 5 Fibonacci numbers
set_fib = set()
a,b=0,1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

NameError: name 'fibonacci_set' is not defined

In [22]:
#Remove duplicates from a list using sets.
original_list=[1,2,3,4,2,1,3,4,5,3]
unique_set=set(original_list)
unique_list = list(unique_set)
print("original list:",original_list)
print("list after removing duplicates:",unique_list)

original list: [1, 2, 3, 4, 2, 1, 3, 4, 5, 3]
list after removing duplicates: [1, 2, 3, 4, 5]

In [23]:
#Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [24]:
#Create a set of the first `n` powers of 2.
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [25]:
#Find the common elements between a set and a list.
my_set = {1, 2, 3, 7, 9, 12, 15}
my_list = [1,27, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [1, 9, 12]

In [26]:
#Create a set of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  4

The set of the first 4 triangular numbers is: {1, 10, 3, 6}

In [60]:
#Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [27]:
#Create a set of alternating 1s and 0s of length `n`.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [59]:
#Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1 | set2 | set3
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}