In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Database: A structured collection of data stored and accessed electronically.
SQL: Relational databases with structured schema and support for ACID properties (e.g., MySQL, PostgreSQL).
NoSQL: Non-relational databases with flexible schema, suitable for unstructured data and horizontal scaling 
    (e.g., MongoDB, Cassandra).

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL (Data Definition Language): Used to define and manage database schema

In [ ]:
#CREATE: Creates new tables or databases
CREATE TABLE students (id INT, name VARCHAR(50));

In [ ]:
#DROP: Deletes tables or databases.
DROP TABLE students;

In [ ]:
#ALTER: Modifies existing tables.
ALTER TABLE students ADD COLUMN age INT;

In [ ]:
#TRUNCATE: Removes all rows from a table without deleting the table itself
TRUNCATE TABLE students;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML (Data Manipulation Language): Used to manage data within schema objects

In [2]:
#INSERT: Adds new rows to a table
INSERT INTO students (id, name) VALUES (1, 'John Doe');

In [ ]:
#UPDATE: Modifies existing rows in a table
UPDATE students SET name = 'Jane Doe' WHERE id = 1;

In [ ]:
#DELETE: Removes rows from a table
DELETE FROM students WHERE id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language): Used to query the database and retrieve data
    
 SELECT: Retrieves data from one or more tables 
    
    SELECT name, age FROM students WHERE age > 18;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key: A unique identifier for a row in a table, ensuring that no two rows have the same primary key value.
Foreign Key: A field (or fields) in one table that uniquely identifies a row of another table, creating a relationship between the tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host='localhost',
    user='yourusername',
    password='yourpassword',
    database='yourdatabase'
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM students")

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM: Specifies the tables to retrieve data from.
JOIN: Combines rows from two or more tables.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows that have the same values in specified columns.
HAVING: Filters groups based on specified conditions.
SELECT: Specifies the columns to be returned.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set by specified columns.
LIMIT/OFFSET: Limits the number of rows returned and specifies the offset of the first row to return.